.container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
}

.info_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    gap: 1.5rem;
    margin: 5rem auto;


}

.info_title {
    font-size: var(--font-size-md);
    font-weight: 600;
    line-height: 1.4;

}

.info_title a {
    color: #eb924c;
}

.info_text {
    font-size: var(--font-size-base);
    line-height: 1.5;
}

.img_container {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.img_container div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/1;
    z-index: 1;
}

.img_container div:first-child img {
    width: 75%;
    height: 80%;
    object-fit: cover;
}

.img_container div:last-child {
    display: grid;
    grid-row: 1/1;
    grid-column: 3/6;
    width: 85%;
    height: 100%;
    justify-self: right;
    background-color: #ea924c;
}

.img_container div:last-child img {
    margin: auto;
    width: 60%;
    height: 100%;
    object-fit: contain;
}